<div class="form-container">
  <form #itemForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Item Dropdown -->
    <div class="form-group">
      <label for="items">Select Item:</label>
      <select id="items" name="items" [(ngModel)]="selectedItem" required>
        <option value="" disabled selected>Select an item</option>
        <option *ngFor="let item of items" [value]="item.item">
          {{ item.item }}
        </option>
      </select>
      <div
        *ngIf="itemForm.controls['items']?.touched && itemForm.controls['items']?.errors?.['required']"
        class="error"
      >
        Selecting an item is required.
      </div>
    </div>

    <div>
      <input
        type="number"
        id="quantity"
        required
        [(ngModel)]="quantity"
        name="quantity"
        #quantityModel="ngModel"
        placeholder="Enter a number"
      />
      <div
        *ngIf="quantityModel.errors?.['required'] && quantityModel.touched"
        class="error"
      >
        Number of items is required.
      </div>
    </div>
    <!-- Submit Button -->
    <div class="form-actions">
      <button
        type="submit"
        class="btn btn-submit"
        [disabled]="!itemForm.form.valid"
      >
        Add Item
      </button>
    </div>
  </form>
</div>
